@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@500&display=swap');

:root {
    --logoGold: #fdd001;
    --logoGreen: #7cff00;
    --logoRed: #fe274e;
    --logoBlue: #0d69b9;
    --logoViolet: #8547fe;
    --main_color: #17c76f;
    --shadow:  5px 10px 30px rgba(57, 56, 61, 0.205);
}
.bodyGradient {
    background: lightblue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    font-family: "Noto Sans Bengali", sans-serif;
}


/* Navbar-section */

.img-fluid {
    width: 60px;
}
.college_title {
    color: var(--logoGold);
    font-family: "Noto Sans Bengali", sans-serif;
}
@media (max-width:767px) {
    .header .container-fluid .logo {
        justify-content: flex-start !important;
    }
    .college_title {
        font-size: calc(3.5vw);
    }
}
.navbar-collapse ul {
    margin:auto; 

}
/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--logoGold);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

  }
  .hvr-underline-from-left:hover:before, 
  .hvr-underline-from-left:focus:before,
  .hvr-underline-from-left:active:before {
    right: 0;
  }
  .dropdown-menu {
    width: 250px;
    
 }
 .dropdown-menu .dropdown-item {
     color: #666;
 }
 .dropdown-menu .dropdown-item:hover {
     color: #333 !important;
 }
 

.header .container-fluid {
    justify-content: center;
    background-color:inherit;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
}



@media (max-width:1050px) {
 .header .navbar-collapse .nav-item a {
     font-size: 14px;
 } 
  
}
@media (max-width:992px) {
   .header .p-0 {
    transform: translateY(-65px);  
   }
   .p-0 {
    height: 0;
}
.notice {
    transform: translateY(-40px) ;
}
.carousel {
    transform: translateY(-30px);
}
   
}
/* End-Header-section */

/* Notice-section */
.notice {
    margin-top: 115px;
}
.notice_div {
    background-color: var(--logoGold);
    padding:0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    border: 2px solid #fafafa;
    height: 50px;
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
}
.box a {
    text-decoration: none;
}
.box p {
   color: #fff;
   animation: go 15s linear infinite;
   width: fit-content;
   white-space: nowrap;
}

@keyframes go{
    50%{transform: translate(-100%);}
    50.001%{transform: translate(100%);}
    100%{transform: translate(0%);}
}
.box p:hover {
    color: var(--logoGold);
    animation: none;
}
/* End-Notice-section */


/*Carousel-section  */

.carousel-item {
    height: 70%;
}
.ml2 {
    font-weight: 500;
    font-size: 2em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }
/*End-Carousel-section  */

/*Start-Anthem-section  */
.anthem_section .container {
    background-image: url("../images/logo2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative; 
      
}
.anthem_section .container .row {
     box-sizing: border-box;
}
.anthem_section .container .row::before {
    content: "";
    position: absolute;
    width: 98.2%;
    margin-left: 12px;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.8);
}
.anthem_section .text-center {
    z-index: 1;
}

.anthem_section .title {
    color: #fff;
}
.anthem_section .container .row .col-12:first-of-type {
    transform: translateX(-25%);
    opacity: 0;
    transition: all 1.2s ease;
}
.anthem_section .container .row .col-12:last-of-type {
    transform: translateX(25%);
    opacity: 0;
    transition: all 1.2s ease;
}
.anthem_section pre {
    letter-spacing: 2px; 
    font-size: 1em;
    font-weight: normal;
    padding-top: 1.5rem;
    color: #fff;
    font-family: "Noto Sans Bengali", sans-serif;
    
}
@media (max-width:992px) {
    .anthem_col {
        padding-top: 3rem;
    }
    .anthem_section pre {
        letter-spacing: normal;
        font-size: 12px;
    }
}

/*End-Anthem-section  */

/* Speech Section */
.speech .container .row .president_column img, .principle_column img {
    width: 250px;
    height: auto;
    
}

.speech .container .row .col-12 .speech_p {
    height: 150px;
    overflow: hidden;
   
}
.speech .container .row .col-12 p {
    line-height: 2rem;
}
.speech .container .row .col-12:first-of-type {
    transform: translateX(-25%);
    opacity: 0;
    transition: all 1.2s ease; 
}
.speech .container .row .col-12:last-of-type {
    transform: translateX(25%);
    opacity: 0;
    transition: all 1.2s ease;
}
.divein {
    opacity: 1 !important;
    transform: translateX(0) !important;
    transform: translateY(0) !important;
    transform: translateZ(0) !important;
    transform: skew(0) !important;
    transition: all 1s ease;
}

.hr_dot {
    border: none;
    background-color: inherit;
    border-top: 8px dotted #cfd6d6 !important;
    margin: auto;
    width: 8% !important;
  }
  @media (max-width:992px) {
    .speech .container .row .president_column img, .principle_column img {
        width: 150px;
    }
  }
  /*End Speech Section */


/* Start Gallery Section */
.gallery .title {
    font-family: 'Knewave', cursive;
    color: var(--logoGold);
    font-weight: 300;
    transform: translateY(40%);
    opacity: 0;
    transition: all 1.2s linear;
}
.gallery .container {
    transform: translateY(25%);
    opacity: 0;
    transition: all 1.2s ease;
}
.gallery .container .owl-carousel .client{
    background: #ffffff10;
    box-shadow: 5px 5px 15px #777;
    margin: 3rem 0rem;
    border: 3px solid var(--logoGold);
}
.gallery .container .owl-carousel .client .client-img {
    width: 290px;
    height: 290px;
}
.gallery .client .client-img img {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
}

.gallery .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding:0;
}
.gallery .owl-carousel .owl-dots .owl-dot.active span{
    background-color: #002366;
    width: 12px;
    height: 12px;
}
/*End Gallery Section */

  /* Service section */
.service .container .row .col-10 .card {
      height: 20rem;
  }
  @media (max-width:767px) {
    .service .container .row .col-10 .card {
        height: 25rem;
    }
  }

.service .container .row .col-10 .card:hover{
    box-shadow: var(--shadow);
    transition: all .6s ease;
    filter: brightness(1.1);
    cursor: pointer;
} 
.hide {
    opacity: 0;
    transform: skewX(60deg);
    transition: all .8s ease;
}

.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    /* background: #e1e1e1; */
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main_color);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: white;
  }
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
/* End Service section */

/*Start Google Map  Section */
.map {
    border-top: 7px solid rgba(162, 162, 167, 0.5);
    opacity: 0;
    transition: all 0.8s ease-in;
}
/*End Google Map  Section */
/* Start Notice Page */
.noticeAll .sironam {
    position: relative;
    line-height:2.5rem;
}
.noticeAll .sironam::before {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 3px;
    background-color: var(--logoGold);
}
/* End Notice Page */


#footer {
    position: relative;
    opacity: 0.9;
}
#footer .container {
    
    z-index: 1;
}
#footer .video-container {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}


.use_hover:hover{
    text-decoration: underline !important;
    text-decoration-color: var(--main_color) !important;
    text-decoration-style: unset;
    
}
.point:hover{
    cursor: pointer;
    background-color: #309b65;
    color: antiquewhite;
}
.maincolor{
    background-color: var(--main_color);
}
.mycolor{
    color: var(--main_color);
}
#footer .ramit_logo:hover {
    transform: scale(1.9);
    transition: all .8s ease;
} 
#footer .ramit_logo {
    transition: all .8s ease;
}

@media (max-width:1400px) {
    
    #footer .email {
        font-size: 80%;
    }
}
@media (max-width:1200px) {
    
    #footer .email {
        font-size: 70%;
    }
}


@media (max-width:992px) {
    
    #footer .email {
        font-size: 100%;
    }
}

/* start Principle Page */
.bg-light {
    background: linear-gradient(to right, #b4e4f8, #f6fcfe);
    border-top: 7px solid #00a2e8;
}
.namecolumn {
    background: linear-gradient(to right bottom, #c2e9f9, #d6f0fb);
    box-shadow: 5px 10px 15px #999;
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:992px) {
    .namecolumn {
        max-width: 100%;
        height: 25em; 
    }
}
.namecolumn h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #444;
}
.namecolumn button {
  background:    #6fa8dc;
  background:    linear-gradient(#3b67bb, #6fa8dc 50%, #3b67bb);
  border: 0;
  border-radius: 3px;
  box-shadow:    0 10px 15px rgb(103, 141, 184);
  padding:       18px 25px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 14px/1 "Roboto", sans-serif;
  text-align:    center;
  margin-top: 25px;
}
.backdiv {
    background: linear-gradient(to right top, #539ed7, #a2cceb);
    width: 100%;
    height: 95%;
    box-shadow: 5px 5px 15px #999;
    position: relative;
}
.Principal_image {
    width: 90%;
    height: 100%;
   transform: translateY(-110%) translateX(5%);
}

/* End Principle Page */

/* Start Contact Page */

.contact .card img:hover {
    cursor: pointer;
    transform: scale(0.98);
    transition: all 0.3s ease;
}
.contact .card img {
    transition: all 0.3s ease;
}

/* End Contact Page */
/* Footer Section*/
